@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.nav-buttons {
  margin-left: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

h6 {
  color: #d8d8d8;
}

/* navber */
/* .navbar{
    font-size: 16px;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    top: 0;
    left: 0;
    
} */
.navbar-light .navbar-nav .nav-link {
  padding: 0 20px;
  color: #000;
  transition: 0.4 ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i:hover {
  color: rgb(14, 156, 203);
}

.navbar i {
  font-size: 1.2rem;
  padding: 0 0.7px;
  transition: 0.4s ease;
  /* font-weight: 400; */
  margin-left: 5px;
  cursor: pointer;
}

/* button */
button {
  background-color: #ff5e14;
  border-radius: 5px;
  border: none;
  color: #eeeeee;
  text-align: center;
  font-size: 20px;
  padding: 5px 20px;
  transition: all 0.5s;
  cursor: pointer;
}

button:hover {
  background-color: #ff5e14;
  box-shadow: 3px 3px 0 #000;
}

button:hover:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 990px) {
  .nav-buttons {
    margin: 10px;
  }

  .nav-buttons ul {
    margin: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }

  .nav-buttons ul .fas {
    margin: 20px 5px 10px 20px;
  }
}

.button2:hover {
  box-shadow: 3px 3px 0 #000;
}

/* home */
#home {
  background-image: url("../imgs/home_bg.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  /* background-position-x: 90px; */
  /* background-position-y: 80px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home span {
  color: #ff4314;
}
#home h5 {
  background-color: #ff5e1488;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 5px;
  color: #ffffff;
}
#home p {
  font-weight: 600;
}

/* new */
#new .one {
  position: relative;
}

#new .one .details {
  position: absolute;
  top: 0;
  left: 0;
  color: #ff5e14;
  font-weight: bold;
  transition: 0.4s ease;
  opacity: 0.8;
  background-color: #000000e6;
  width: 100%;
  height: 100%;
}

#new .one .details:hover {
  background-color: #000000bb;
}

#new .one:nth-child(1) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: start;
}

#new .one:nth-child(2) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#new .one:nth-child(3) .details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: end;
}

/* product */
.product {
  cursor: pointer;
  margin-bottom: 2rem;
}

.product img {
  transition: 0.3s all;
}

.product:hover img {
  opacity: 0.7;
}

.product .button2 {
  background-color: #fb774b;
  transform: translateY(50px);
  opacity: 0;
  transition: 0.3s all;
}

.product:hover .button2 {
  transform: translateY(0px);
  opacity: 1;
}

featured hr {
  width: 50px;
  height: 5px !important;
  opacity: 1 !important;
  background-color: #fb774b;
}
/* line 219 - 224 baad*/
.star {
  padding: 10px 0;
}

.star i {
  font-size: 0.9rem;
  color: goldenrod;
}

#banner {
  background-image: url("assets/imgs/home.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position-x: center;
  background-position-y: 80px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#banner h1 {
  color: aqua !important;
}

#banner h4 {
  color: white !important;
}

#banner button {
  background-color: #fb774b;
}

#banner button:hover {
  background-color: rgb(140, 3, 53);
}

/* footer */

.footer-section {
  background: #151414;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: #3b5998;
}

.twitter-bg {
  background: #55acee;
}

.google-bg {
  background: #dd4b39;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #ff5e14;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #ff5e14;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #ff5e14;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.single-product input:focus {
  outline: none;
}

.single-product .buy-btn {
  background-color: rgb(14, 137, 98);
  opacity: 1;
  transition: 0.4s all;
}

.single-product .buy-btn:hover {
  background-color: black;
}

/* cart */

.cart table {
  width: 100%;
  border-collapse: collapse;
}

.cart .product-info {
  display: flex;
  flex-wrap: wrap;
}

.cart th {
  text-align: left;
  padding: 5px 10px;
  color: #fff;
  background-color: #fb774b;
}

.cart td {
  padding: 10px 20px;
}

.cart td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.cart td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

.cart td a {
  color: #fb774b;
}

.cart .remove-btn {
  color: rgb(254, 177, 10);
  text-decoration: none;
  font-size: 15px;
  border: none;
  width: 100%;
}

.cart .edit-btn {
  color: #7b38d8;
  text-decoration: none;
  font-size: 15px;
  background-color: #fff;
  border: none;
}

.cart .product-info p {
  margin: 3px;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
}

.cart-total table {
  width: 100%;
  max-width: 500px;
  border-top: 3px solid #fb774b;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.checkout-container {
  display: flex;
  justify-content: flex-end;
}

.checkout-btn {
  background-color: #ff5e14;
  color: white;
}

/* login form */
#login-form {
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #fb774b;
}

#login-form input {
  width: 50%;
  margin: 5px auto;
}

#login-form #login-btn {
  background-color: #fb774b;
  color: white;
}

#login-form #register-url {
  color: rgb(255, 145, 10);
}

/* Register */
#register-form {
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #fb774b;
}

#register-form input {
  width: 50%;
  margin: 5px auto;
}

#register-form #register-btn {
  background-color: #fb774b;
  color: white;
}

#register-form #login-url {
  color: rgb(255, 145, 10);
}

/* account */

#account-form {
  width: 50%;
  margin: 35px auto;
  text-align: center;
  padding: 20px;
}

#account-form input {
  margin: 5px auto;
}

#account-form #change-pass-btn {
  color: #fff;
  background-color: #009975;
}

.account-info #order-btn,
#logout-btn {
  color: #ae0c60;
  text-decoration: none;
}

/* orders */
.orders table {
  width: 100%;
  border-collapse: collapse;
}

.orders .products-info {
  display: flex;
  flex-wrap: wrap;
}

.orders th {
  padding: 5px 10px;
  color: #fff;
  background-color: #fb774b;
}

.orders td {
  padding: 10px 20px;
}

.orders td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.orders .order-details-btn {
  color: #fff;
  background-color: #fb774b;
}

/* checkout */
#checkout-form #checkout-small-element {
  display: inline-block;
  width: 48%;
  margin: 10px auto;
}

#checkout-form #checkout-large-element {
  width: 95%;
}

#checkout-form .checkout-btn-container {
  margin: 10px;
  text-align: right;
  margin-right: 40px;
}

#checkout-form #checkout-btn {
  color: #fff;
  background-color: #fb774b;
}

/* contact */
#contact span {
  color: #fb774b;
}

.cart-quantity {
  background-color: #fb774b;
  color: #fff;
  padding: 2px 5px;
  border-radius: 50%;
  margin: -2px;
}

/* side bar */
.container-9 {
  display: flex;
}
.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #f0f0f0;
}

.product-listings {
  display: inline-flex;
  /* flex: 1; */
  padding: 20px;
  background-color: #ffffff;
}
.shop-page {
  display: flex;
  box-sizing: border-box;
}
#search {
  width: 350px;
  padding: 20px;
  background-color: #f0f0f0;
}
#featured {
  padding: 20px;
  background-color: #ffffff;
}
